* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #555;
    background-color: #fff;
    padding: 50px;
}

.main-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px 40px 40px;
    border-bottom: 5px solid #87ceeb; 
    border-left: 5px solid #87ceeb;
    border-right: 5px solid #87ceeb;
}

.top-header {
    text-align: center;
    margin-bottom: 60px;
}

.top-header h1, .top-header h2 {
    font-weight: 400;
    color: #333;
    font-size: 28px;
}

.content-body {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.card {
    flex: 1;
    background: #fff;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
    border-radius: 4px;
}

.card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.card p {
    font-size: 13px;
    color: #888;
    margin-bottom: 30px;
}

.card .author strong {
    display: block;
    font-size: 14px;
    color: #333;
}

.card .author .role {
    font-size: 12px;
    color: #4682b4; 
}

.text-content {
    flex: 1.5;
}

.text-content p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #777;
    text-align: justify;
}

.text-content p.highlight {
    font-weight: bold;
    color: #444;
}